

header {
    font-family: Georgia;
    font-size: 40px;
    font-weight: bolder;
    color: rgb(5, 26, 90);
}
.body {
  background-color: lightsteelblue;
}
.nav {
    font-family: Georgia;
    font-weight: bolder;
    font-size: large;
    background-color: lightgrey;
}

h1 {
  font-family: Georgia;
  
}

.row-justify-content-center {
  border: dashed;
}
p {
  font-family: Georgia;
}
address {
  display: block;
  font-family: Georgia;
}
  .container {
    width: 400px;
    border: .5px solid lightgrey;
    padding: 25px;
    margin: 40px;
  }
  
  @media screen and (min-width: 480px) {
    #leftsidebar {width: 200px; float: left;}
    #main {margin-left: 216px;}
    img {
      width: 150px;
      height: 150px;
      position: relative;
      bottom: 10px;
    }
  }